/*---------------------------------------------------------
 *=========================================================
 *================Media Device Query=======================
 *===============Greater than 1200px=======================
 *===============but Less than 1300px======================
 *======================Start==============================
 *---------------------------------------------------------
 */
@media (max-width: 1300px) {}

/*---------------------------------------------------------
 *=========================================================
 *================Media Device Query=======================
 *===============Greater than 1200px=======================
 *===============but Less than 1300px======================
 *======================End==============================
 *---------------------------------------------------------
 */


/*---------------------------------------------------------
 *==================Large(Desktops)========================
 *================Media Device Query=======================
 *===============Greater than 991px========================
 *===============but Less than 1200px======================
 *======================Start==============================
 *---------------------------------------------------------
 */

@media (max-width: 1199.98px) {
    #banner h2 {
        padding: 0;
    }
}


/*---------------------------------------------------------
 *==================Large(Desktops)========================
 *================Media Device Query=======================
 *===============Greater than 991px========================
 *==============but Less than 1200px=======================
 *========================End==============================
 *---------------------------------------------------------
 */


/*---------------------------------------------------------
 *==================Medium(Tablets)========================
 *================Media Device Query=======================
 *===============Greater than 767px========================
 *===============but Less than 992px=======================
 *======================Start==============================
 *---------------------------------------------------------
 */

@media (max-width: 991.98px) {
    #banner h2 {
        font-size: 40px;
    }
}

/*---------------------------------------------------------
 *==================Medium(Tablets)========================
 *================Media Device Query=======================
 *===============Greater than 767px========================
 *===============but Less than 992px=======================
 *======================End================================
 *---------------------------------------------------------
 */


/*---------------------------------------------------------
 *===============Small(landscape phones)===================
 *================Media Device Query=======================
 *===============Greater than 575px========================
 *===============but Less than 768px=======================
 *=====================Start===============================
 *---------------------------------------------------------
 */

@media (max-width: 767.98px) {
    #banner {
        background-position: initial;
    }
}


/*---------------------------------------------------------
 *===============Small(landscape phones)===================
 *================Media Device Query=======================
 *===============Greater than 575px========================
 *===============but Less than 768px=======================
 *======================End================================
 *---------------------------------------------------------
 */


/*---------------------------------------------------------
 *=============Extra Small  (Portrait Phones)==============
 *==================Media Device Query=====================
 *==================Less than 576px========================
 *======================Start==============================
 *---------------------------------------------------------
 */

@media (max-width: 575.98px) {
    #banner {
        background-position: initial;
    }
}


/*---------------------------------------------------------
 *=============Extra Small  (Portrait Phones)==============
 *==================Media Device Query=====================
 *==================Less than 576px========================
 *======================End================================
 *---------------------------------------------------------
 */