/*
	Project:	Bootstrap Web Application
	Team:		N/A
	Position:	N/A
 	Author: 	Miraz Uddin
 	Email:	    mirazuddin0623@gmail.com

	*******************
	*****Page List*****
	*******************
    0.	extra (Typography, Common CSS, Popup_banner, Chat, Cart_trolley, notification_trolley)
	1.	header
    2.	category
    3.	banner
    4.	service

*/


/*==============================================
	extra Start
==============================================*/


/* Typography */

@font-face {
    font-family: roboto-100;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-300;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-400;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-500;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-700;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-900;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}


/* Common CSS */

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

ul,
ol {
    list-style-type: none;
}

ul>li,
ol>li {
    display: block;
}

img {
    vertical-align: middle;
}

.section_padding {
    padding: .75rem 0;
}

.page-link {
    cursor: pointer !important;
}

.spinner-border-parent {
    min-height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    min-width: 480px;
    width: 100% !important;
}

.navbar-collapse {
    flex-grow: 0;
}

#banner {
    min-height: 50vh;
    background: url('../media/img/banner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 250px 0;
}

.banner_left {
    height: 300px;
}

.banner_right {
    height: 300px;
}

#banner h1 {
    color: #fff;
    text-align: left;
    color: #f05957;
}

#banner h2 {
    color: #fff;
    text-align: left;
    margin-bottom: 2rem;
    padding: 0 11rem 0 0;
}

#banner p {
    color: #fff;
    text-align: left;
}

#contact {
    padding: 69px 0px 0px 0px;
}

.contact_image {
    display: flex;
    align-items: center;
}

#contact form {
    text-align: center;
}

#contact .form input {
    width: 100%;
    border: 0;
    text-align: center;
    font-size: 15px;
    color: #777777;
    font-family: 'petclub_font_four_reg', sans-serif;
    border: 2px solid #e9d7d7;
    line-height: 45px;
    border-radius: 3px;
}

#contact textarea {
    width: 100%;
    border: 0;
    text-align: center;
    font-size: 15px;
    color: #777777;
    font-family: 'petclub_font_four_reg', sans-serif;
    border: 2px solid #e9d7d7;
    line-height: 45px;
    border-radius: 3px;
}

#contact label {
    font-size: 13px;
    margin-top: 30px;
}

#contact_button {
    width: 200px;
    font-size: 17px;
    color: #ffffff;
    background: #f05957;
    font-family: 'petclub_font_three_semi_bold', sans-serif;
    border: 0;
    border-radius: 5px;
    line-height: 45px;
    margin-top: 30px;
}

.error {
    width: 100%;
    margin-top: 0 !important;
    font-size: .875em;
    color: #ea868f;
}

.list-group-item {
    border: none !important;
}

.list-group-tick {
    margin-right: 20px;
}

.list-group-tick i {
    font-size: 25px;
    color: #fff;
    background-color: #ea868f;
    border: 1px solid #ea868f;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

[data-bs-theme=dark] .list-group-tick i {
    color: #ce5d67;
    background-color: #fff;
    border: 1px solid #fff;
}